{% extends 'base.html' %}
{% block title %}
<title>Homepage</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-6">Welcome to BBG...the Berlin Boardgame Group!!!</h1>
      {% if user.is_authenticated %}
        <ul class="list-group">
          <li class="list-group-item">
            <a href="https://www.accuweather.com/" target="_blank">Check the weather...</a>
          </li>
          <li class="list-group-item">
            <a href="/blog">Visit the blog</a>
          </li>
          <li class="list-group-item">
            <a href="{% url 'new-game' %}">New game</a>
        </ul>
      {% else %}
      <h3>Please, log in!</h3>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
